[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "urxvt/ext/resize-font"]
	path = urxvt/ext/resize-font
	url = https://github.com/simmel/urxvt-resize-font.git
[submodule "emacs/themes/molokai"]
	path = emacs/themes/molokai
	url = https://github.com/hbin/molokai-theme.git
